@page "/adventure"
@using Hyperdimension_BlazeSharp.Client.ViewModels
@inject ILearningPathViewModel _learningPathViewModel


@if (_learningPathViewModel.ModulesWithTasks is null)
{
    <h4>Loading...</h4>
}
else
{
    @foreach (var module in _learningPathViewModel.ModulesWithTasks)
    {
        <div class="list-group">
            <div class="list-group-item list-item-border-orange-bg d-flex">
                <span>@module.Title</span>
                <span class="oi oi-trash ml-auto cursor-pointer text-danger" hidden="@hideModuleTrashCan" @onclick="(() => _learningPathViewModel.DeleteModule(module.Id))"></span>
            </div>

            @foreach (var task in module.Tasks)
            {
                <div class="list-group-item d-flex">
                    <a href="@("TaskContainer/" + task.Guid)" class="list-group-item-action">
                        <span>@task.Title</span>
                    </a>
                    <span class="oi oi-trash ml-auto cursor-pointer text-danger" hidden="@hideTrashCan" @onclick="(() => _learningPathViewModel.DeleteTask(task.Guid))"></span>
                </div>
            }

        </div>
    }
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    private bool hideTrashCan = false;
    private bool hideModuleTrashCan = false;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;
        hideTrashCan = !(user.IsInRole("admin") || user.IsInRole("taskmode"));
        hideModuleTrashCan = !(user.IsInRole("admin") || user.IsInRole("modulemode"));

        _learningPathViewModel.ModeNumber = 1;
        await _learningPathViewModel.GetModulesWithTasks();
    }
}
