@page "/forum/{taskid:guid}"
@inject NavigationManager NavigationManager
@inject ViewModels.IForumViewModel ForumViewModel
@inject IJSRuntime JSRuntime

<div class="row">
    <h5 class="cursor-pointer" @onclick="GoBackToTaskPlayground"><span class="oi oi-arrow-left"></span> Back to task</h5>
    <button class="btn btn-outline-orange ml-auto" disabled="@(!canSubmitComment)" @onclick="ShowNewCommentDialog">New Comment</button>
</div>

<div class="container mt-5">

    @if (ForumViewModel.Comments is not null)
    {
        @foreach (var comment in ForumViewModel.Comments)
        {
            <Comment AvatarUrl="@comment.AvatarUrl"
                     UserName="@comment.UserName"
                     CommentId="@comment.Id"
                     Date="@comment.Date"
                     Text="@comment.Text"
                     IsSubcomment="false"
                     CanReply="@canSubmitComment"
                     OnReply="@(() => SetMainCommentIdAndShowSubcommentDialog(comment.Id))" />

            @if (comment.Subcomments is not null)
            {
                @foreach (var subcomment in comment.Subcomments)
                {
                    <Comment AvatarUrl="@subcomment.AvatarUrl"
                             UserName="@subcomment.UserName"
                             CommentId="@subcomment.MainCommentId"
                             Date="@subcomment.Date"
                             Text="@subcomment.Text"
                             IsSubcomment="true"
                             CanReply="@canSubmitComment"
                             OnReply="@(() => SetMainCommentIdAndShowSubcommentDialog(comment.Id))" />
                }
            }
            <div class="mb-5"></div>
        }
    }
    else
    {
        <Spinner />
    }
</div>

@if (showingNewCommentDialog)
{
    <NewCommentDialog CommentCreateRequest="ForumViewModel.CommentCreateRequest"
                      OnCancel="ShowNewCommentDialog"
                      OnConfirm="OnConfirmNewComment" />
}
@if (showingNewSubcommentDialog)
{
    <NewSubcommentDialog SubcommentCreateRequest="ForumViewModel.SubcommentCreateRequest"
                         OnCancel="ShowNewSubcommentDialog"
                         OnConfirm="OnConfirmNewSubcomment" />
}

@code {
    [Parameter]
    public Guid TaskId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    bool showingNewCommentDialog = false;
    bool showingNewSubcommentDialog = false;
    bool canSubmitComment = false;


    protected override async Task OnInitializedAsync()
    {
        ForumViewModel.TaskId = TaskId;
        await ForumViewModel.GetComments();
        canSubmitComment = (await AuthenticationState).User.Identity.IsAuthenticated;
    }

    private void GoBackToTaskPlayground()
    {
        NavigationManager.NavigateTo($"/TaskContainer/{TaskId}");
    }

    private void ShowNewCommentDialog()
    {
        showingNewCommentDialog = !showingNewCommentDialog;
    }

    private void ShowNewSubcommentDialog()
    {
        showingNewSubcommentDialog = !showingNewSubcommentDialog;
    }

    private async Task OnConfirmNewComment()
    {
        var result = await ForumViewModel.ValidateComment(ViewModels.CommentType.Comment);

        var canSend = true;

        if (result.Count() > 0)
            canSend = await JSRuntime.InvokeAsync<bool>("confirm",
                "The text contains words that may be perceived as inappropriate. Are you sure you want to send a comment?" +
                Environment.NewLine +
                string.Join('\n', result));

        if (canSend)
        {
            ShowNewCommentDialog();
            await ForumViewModel.CreateNewComment();
        }
    }

    private async Task OnConfirmNewSubcomment()
    {
        var result = await ForumViewModel.ValidateComment(ViewModels.CommentType.Subcomment);

        var canSend = true;

        if (result.Count() > 0)
            canSend = await JSRuntime.InvokeAsync<bool>("confirm",
                "The text contains words that may be perceived as inappropriate. Are you sure you want to send a subcomment?" +
                Environment.NewLine +
                string.Join('\n', result));

        if (canSend)
        {
            ShowNewSubcommentDialog();
            await ForumViewModel.CreateNewSubcomment();
        }
    }

    private void SetMainCommentIdAndShowSubcommentDialog(Guid id)
    {
        ForumViewModel.SubcommentCreateRequest.MainCommentId = id;
        ShowNewSubcommentDialog();
    }
}
