@page "/forum/{taskid:guid}"
@inject NavigationManager NavigationManager
@inject ViewModels.IForumViewModel ForumViewModel

<div class="row">
    <h5 class="cursor-pointer" @onclick="GoBackToTaskPlayground"><span class="oi oi-arrow-left"></span> Back to task</h5>
    <button class="btn-outline-orange ml-auto">New Comment</button>
</div>

<div class="container mt-5">

    @if (Comments is not null)
    {
        @foreach (var comment in Comments)
        {
            <Comment AvatarUrl="@comment.AvatarUrl"
                     UserName="@comment.UserName"
                     CommentId="@comment.Id"
                     Date="@comment.Date"
                     Text="@comment.Text"
                     IsSubcomment="false" />

            @if (comment.Subcomments is not null)
            {
                @foreach (var subcomment in comment.Subcomments)
                {
                    <Comment AvatarUrl="@subcomment.AvatarUrl"
                             UserName="@subcomment.UserName"
                             CommentId="@subcomment.MainCommentId"
                             Date="@subcomment.Date"
                             Text="@subcomment.Text"
                             IsSubcomment="true" />
                }
            }
            <div class="mb-5"></div>
        }
    }
    else
    {
        <Spinner />
    }
</div>

@code {
    [Parameter]
    public Guid TaskId { get; set; }

    public IEnumerable<Hyperdimension_BlazeSharp.Shared.Dto.Comment> Comments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Comments = await ForumViewModel.GetComments(TaskId);
    }

    private void GoBackToTaskPlayground()
    {
        NavigationManager.NavigateTo($"/TaskContainer/{TaskId}");
    }
}
